
@model IEnumerable<DataLayer.Entities.Album>


<p>
    <a asp-action="AlbumCreate">Create New Album</a> | 
    <a asp-action="GiveAlbumAccess">Share an Album</a>
</p>
<table class="table">
    <thead>
        Album Name
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.Raw("https://www.tenforums.com/geek/gars/images/2/types/thumb_15345986250_ictures_folder.png")" style="width: 100px; height: 100px;" />
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td>
                    <a asp-action="AlbumUpdate" asp-route-id="@item.Album_Id">Edit</a> |
                    <a asp-action="AlbumDelete" asp-route-id="@item.Album_Id">Delete</a> |
                    <a asp-action="ViewPhotos" asp-route-albumId="@item.Album_Id">View Photos</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
